%section.home
  %h2 Hello
  %p I'm a software engineer living in Paris. I am currently working on #{link_nofollow('Apple Maps', "https://www.apple.com/ios/maps")} and I spend most of my days writing Objective-C code. In my free time, I like to #{link_nofollow("build stuff", "https://github.com/juliengrimault")} and #{link_nofollow("take pictures","https://www.flickr.com/photos/128553968@N04")}. #{link_nofollow("Get in touch", "https://twitter.com/juliengrimault")}.


  %h2 Apps
  %p I started developing for iOS back in 2010 while I was still at university. Here are some apps I've worked on. I am no longer involved in the development of the first 6 as those belong to my previous employers.

  %ul.apps
    %li
      %a{ :href => "https://itunes.apple.com/us/app/newtonapples/id417698312", :rel => "external nofollow", :title => "NewtonApples" }
        %img{ :src => "./assets/newtonapples.jpg", :alt => "NewtonApples" }
        %span NewtonApples

    %li
      %a{ :href => "https://itunes.apple.com/us/app/schedaroo/id514603464", :rel => "external nofollow", :title => "Schedaroo" }
        %img{ :src => "./assets/schedaroo.jpg", :alt => "Schedaroo" }
        %span Schedaroo

    %li
      %a{ :href => "https://itunes.apple.com/us/app/lotteryticket/id444928739?mt=8", :rel => "external nofollow", :title => "LotteryTicket" }
        %img{ :src => "./assets/lotteryticket.jpg", :alt => "LotteryTicket" }
        %span LotteryTicket

    %li
      %a{ :href => "https://itunes.apple.com/us/app/betterletter/id426913117", :rel => "external nofollow", :title => "BetterLetter" }
        %img{ :src => "./assets/betterletter.jpg", :alt => "BetterLetter" }
        %span BetterLetter

    %li
      %a{ :href => "https://itunes.apple.com/sg/app/bet-butler/id520033345", :rel => "external nofollow", :title => "Bet Buttler" }
        %img{ :src => "./assets/betbuttler.jpg", :alt => "Bet Buttler" }
        %span Bet Buttler

    %li
      %a{ :href => "https://itunes.apple.com/us/app/tradehero-mobile/id572226383", :rel => "external nofollow", :title => "TradeHero" }
        %img{ :src => "./assets/tradehero.jpg", :alt => "TradeHero" }
        %span TradeHero

    %li
      %a{ :href => "https://www.apple.com/ios/maps", :rel => "external nofollow", :title => "Maps" }
        %img{ :src => "./assets/maps.jpg", :alt => "Maps" }
        %span Maps

  %h2 Open Source
  %p
  I'm always hacking on random stuff. Here are some hightlights:

  %ul.list
    %li
      #{link_nofollow("ModelLite","https://github.com/juliengrimault/ModelLite")} &mdash; Alternative to CoreData on top of SQLite.

    %li
      #{link_nofollow("Life","http://github.com/juliengrimault/GameOfLifeiOS")} &mdash; Conway's <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" rel='external nofollow'>Game of Life</a>

    %li
      #{link_nofollow("MarkdownEditor","https://github.com/juliengrimault/MarkdownEditor")} &mdash; A simple markdown text editor.

    %li
      #{link_nofollow("TwittApp.net","https://github.com/juliengrimault/AppNetChecker")} &mdash; Find your Twitter friends on App.net

    %li
      #{link_nofollow("Rdio2DayOne","https://github.com/juliengrimault/Slogger/commits/rdio")} &mdash; Create #{link_nofollow("Day One","http://dayoneapp.com")} entries from your Rdio collection.

    %li
      #{link_nofollow("Portfolio-Unicorn","https://github.com/juliengrimault/portfolio-unicorn")} &mdash; Learning Rails!

    %li
      #{link_nofollow("LargeNumberFormatter","https://github.com/juliengrimault/JGLargeNumberFormatter")} &mdash; Format large numbers with abreaviations.

  %p Feel free to check out the full list of my open source projects #{link_nofollow("on GitHub","https://github.com/juliengrimault")}.



  %div.four-stripe.px500
    <style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://www.flickr.com/photos/128553968@N04/15942135664/player/" frameborder='0' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></div>
    %p
      %a{ :href => "https://www.flickr.com/photos/128553968@N04", :rel => "external nofollow" }
      %a{ :href => "https://www.flickr.com/photos/128553968@N04", :rel => "external nofollow" }
        Follow @grimault.julien
